/* Add your custom extension styling here */
.activities-menu-box {
  
}

#panel .panel-button#panelActivitiesMenu StBoxLayout {
  padding: 0 6px;
}

.activities-icon {
  -st-icon-style: symbolic;
  icon-size: 16px
}  
  
.popup-menu.panel-menu .user-icon {
  icon-size: 24px
}
  
.popup-menu.panel-menu .user-icon.user-avatar {
  box-shadow: none; }

.popup-menu.panel-menu .user-widget.horizontal {
  spacing: 6px; }
  
.place-menu-item .button {
  border-radius: 99px;
  padding: 3px;
  min-height: auto;
}

.place-menu-item .button:ltr { margin-left: 6px; }
.place-menu-item .button:rtl { margin-right: 6px; }
